<%- include('./partials/head')%>
<%- include('./partials/nav')%>


<div class="row p-5 m-5" >

    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/61BhvV81YJL._AC_UY436_FMwebp_QL65_.jpg">
        <button class="btn btn-warning mt-2">Add to Cart</button>
    </div>
    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/81yaGZ8Z+jL._AC_UY436_FMwebp_QL65_.jpg">
        <button class="btn btn-warning mt-2">Add to Cart</button>

    </div>
    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/91GxcKxDi4L._AC_UY436_FMwebp_QL65_.jpg">
            <button class="btn btn-warning mt-2">Add to Cart</button>
    </div>

</div>

<div class="row row p-5 m-5" >

    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/91sppJ-P3AL._AC_UY436_FMwebp_QL65_.jpg">
        <button class="btn btn-warning mt-2">Add to Cart</button>

    </div>
    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/81qHV3ACapL._AC_UY436_FMwebp_QL65_.jpg">
        <button class="btn btn-warning mt-2">Add to Cart</button>

    </div>
    <div class="col text-center">
        <img src="https://m.media-amazon.com/images/I/81pBU+6mFwL._AC_UY436_FMwebp_QL65_.jpg">
        <button class="btn btn-warning mt-2">Add to Cart</button>

    </div>

</div>



<%- include('./partials/footer')%>